.ProductThumbColor_commonTextWrap__h0kNt:has(textarea:focus) {
    border-color: #dc2832
}

.ProductThumbColor_commonTextWrap__h0kNt:has(textarea:disabled),
.ProductThumbColor_commonTextWrap__h0kNt:has(textarea:read-only) {
    background-color: #f7f7f7
}

.ProductThumbColor_productThumbColor__JBo3z {
    display: flex;
    line-height: 13px;
    margin: 12px 0 0 -1.5px
}

.ProductThumbColor_productThumbColor__JBo3z .ProductThumbColor_iconColor__dHHJn {
    height: 13px;
    margin: 0 1.5px;
    position: relative;
    width: 13px
}

.ProductThumbColor_productThumbColor__JBo3z .ProductThumbColor_iconColor__dHHJn:after {
    background: rgba(0, 0, 0, .02);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.ProductThumbColor_productThumbColor__JBo3z .ProductThumbColor_iconColor__dHHJn img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.ProductGroupModal_commonTextWrap__eAiNa:has(textarea:focus) {
    border-color: #dc2832
}

.ProductGroupModal_commonTextWrap__eAiNa:has(textarea:disabled),
.ProductGroupModal_commonTextWrap__eAiNa:has(textarea:read-only) {
    background-color: #f7f7f7
}

.ProductGroupModal_productGroup__dO\+D-::-webkit-scrollbar {
    border-radius: 3px;
    display: block;
    height: 6px;
    width: 6px
}

.ProductGroupModal_productGroup__dO\+D-::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4);
    border-radius: 3px;
    width: 6px
}

.ProductGroupModal_productGroup__dO\+D-::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px
}

.ProductGroupModal_productGroup__dO\+D- {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 12px;
    height: 225px;
    overflow: hidden auto;
    width: 760px
}

.ProductGroupModal_productGroupItem__cJrDE {
    width: 138px
}

.ProductGroupModal_ellipsis__kDGiL {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.ProductThumbFlag_commonTextWrap__5-N8s:has(textarea:focus) {
    border-color: #dc2832
}

.ProductThumbFlag_commonTextWrap__5-N8s:has(textarea:disabled),
.ProductThumbFlag_commonTextWrap__5-N8s:has(textarea:read-only) {
    background-color: #f7f7f7
}

.ProductThumbFlag_productThumbFlag__Q9xX4 {
    display: flex;
    gap: 6px;
    margin-top: 15px;
    max-width: 100%;
    overflow: hidden
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_flag__keGwz {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    display: block;
    font-size: 11px;
    height: 20px;
    letter-spacing: 0;
    line-height: 17px;
    line-height: 13px;
    max-width: 100%;
    overflow: hidden;
    padding: 3px 4px 2px 5px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_flag__keGwz.ProductThumbFlag_flagType1__dUAu\+ {
    border-color: #eee
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_flag__keGwz.ProductThumbFlag_flagType2__SBzK3 {
    border-color: #dc2832;
    color: #dc2832
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_flag__keGwz.ProductThumbFlag_flagType3__10ohQ {
    border-color: rgba(220, 40, 50, .2);
    color: #dc2832
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_group__3bCsG {
    color: #000;
    font-size: 12px;
    height: 24px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 6px;
    min-width: 55px
}

.ProductThumbFlag_productThumbFlag__Q9xX4 .ProductThumbFlag_group__3bCsG:after {
    background-image: url(//img.lfmall.co.kr/file/WAS/display/images/pc_spimage.png);
    background-position: -66px -86px;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    content: "";
    display: inline-block;
    height: 6px;
    margin-left: 2px;
    width: 9px
}

@font-face {
    font-family: Gza-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("Gza-Regular"), local("Gza-Regular"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff2) format("woff2"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff) format("woff"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.ttf) format("truetype")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 200;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-light.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 400;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-regular.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 500;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-medium.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 600;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-semibold.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 700;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-bold.woff) format("woff")
}

.commonTextWrap {
    background-color: #fff;
    border: 1px solid #ddd
}

.commonTextWrap textArea {
    border: none;
    height: calc(100% - 30px);
    overflow-y: auto;
    padding: 10px 15px;
    resize: none;
    width: 100%
}

.commonTextWrap textArea:disabled {
    background-color: #f7f7f7
}

.commonTextWrap textArea:focus,
.commonTextWrap textArea:focus-visible {
    outline: none
}

.ProductThumbStars_commonTextWrap__D-cpJ:has(textarea:focus) {
    border-color: #dc2832
}

.ProductThumbStars_commonTextWrap__D-cpJ:has(textarea:disabled),
.ProductThumbStars_commonTextWrap__D-cpJ:has(textarea:read-only) {
    background-color: #f7f7f7
}

.commonTextWrap.off {
    background-color: #f7f7f7
}

.commonTextWrap.on .textByte em {
    color: #000
}

.commonTextWrap .textByte {
    color: #757575;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 15px 12px 0;
    text-align: right
}

.commonTextWrap .textByte em {
    color: #000;
    display: inline-block;
    text-align: right;
    width: 40px
}

.commonInputText {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 15px;
    vertical-align: middle;
    width: 100%
}

.commonInputText::-webkit-input-placeholder {
    color: #b2b2b2
}

.commonInputText:-ms-input-placeholder {
    color: #b2b2b2
}

.commonInputText::placeholder {
    color: #b2b2b2
}

.commonInputText:focus {
    border-radius: 2px;
    color: #000;
    outline: auto;
    outline-color: #015ecc;
    transition: all .3s ease-in-out
}

.commonSelect {
    background: #fff url(//img.lfmall.co.kr/file/WAS/apps/2023/pfront/mypage/icon-faq-arrow-down.png) no-repeat 100%;
    background-size: 28px auto;
    border: 1px solid #ddd;
    color: #000;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 200px
}

.commonSelect select {
    color: #000;
    font-size: 14px;
    height: 38px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 38px 0 15px;
    width: 100%
}

.MuiSkeleton-root {
    background-color: #eee !important
}

.MuiSkeleton-root:after {
    background: linear-gradient(90deg, #eee, #ddd, #eee) !important
}

.inpType01 {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    line-height: 26px;
    padding: 0 6px;
    text-align: right
}

.inpType01[type=number] {
    -webkit-appearance: none
}

.inpType01[type=number]::-webkit-inner-spin-button,
.inpType01[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.lfInputText {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    line-height: 26px;
    padding: 0 6px
}

.ProductThumbStars_productThumbStars__5LQDH {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    margin-top: 10px
}

.ProductThumbStars_productThumbStars__5LQDH .ProductThumbStars_num__MuDjP {
    color: #000;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    line-height: 13px;
    margin-left: 5px
}

.ProductThumbStars_productThumbStars__5LQDH .ProductThumbStars_rate__pkUL9 {
    background-image: url(//img.lfmall.co.kr/file/WAS/display/images/pc_spimage.png);
    background-position: -379px -32px;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    height: 12px;
    position: relative;
    vertical-align: top;
    width: 50px
}

.ProductThumbStars_productThumbStars__5LQDH .ProductThumbStars_rate__pkUL9 .ProductThumbStars_rateIn__\+oL6t {
    background-image: url(//img.lfmall.co.kr/file/WAS/display/images/pc_spimage.png);
    background-position: -259px -32px;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0
}