.SearchProductList_commonTextWrap__Q-3f-:has(textarea:focus) {
    border-color: #dc2832
}

.SearchProductList_commonTextWrap__Q-3f-:has(textarea:disabled),
.SearchProductList_commonTextWrap__Q-3f-:has(textarea:read-only) {
    background-color: #f7f7f7
}

.SearchProductList_prdList__-Xisy {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    overflow: hidden;
    position: relative
}

.SearchProductList_prdList__-Xisy.SearchProductList_thumbnail__9J1Rt {
    gap: 0 20px
}

.SearchProductList_prdList__-Xisy.SearchProductList_thumbnail__9J1Rt .SearchProductItem {
    min-height: 530px;
    width: 232px
}

.SearchProductList_prdList__-Xisy.SearchProductList_thumbnail__9J1Rt .SearchProductItem>.btnHeart {
    display: none !important
}

.SearchProductList_prdList__-Xisy.SearchProductList_thumbnail__9J1Rt .productThumbImage {
    height: 293px;
    width: 230px
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb {
    gap: 60px 0
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb .btnHeart {
    display: none !important
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb .SearchProductItem {
    display: flex;
    gap: 30px;
    min-height: 204px;
    width: 100%
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb .SearchProductItem:after {
    background: #ebebea;
    bottom: -30px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb .SearchProductItem>.btnHeart {
    display: block !important
}

.SearchProductList_prdList__-Xisy.SearchProductList_list__DmOLb .productThumbImage {
    flex-shrink: 0;
    height: 204px;
    width: 160px
}

.SearchProductList_prdList__-Xisy.SearchProductList_gift__PaTT6 {
    gap: 0 20px
}

.SearchProductList_prdList__-Xisy.SearchProductList_gift__PaTT6>div {
    min-height: 577px;
    width: 232px
}

.ProductThumbDeliveryInfo_commonTextWrap__EhU\+X:has(textarea:focus) {
    border-color: #dc2832
}

.ProductThumbDeliveryInfo_commonTextWrap__EhU\+X:has(textarea:disabled),
.ProductThumbDeliveryInfo_commonTextWrap__EhU\+X:has(textarea:read-only) {
    background-color: #f7f7f7
}

.ProductThumbDeliveryInfo_productThumbDeliveryInfo__iy9JD {
    color: #000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    line-height: 1;
    margin-top: 10px
}

.ProductThumbDeliveryInfo_lfBadge__sz5La {
    color: #dc2832;
    font-size: 11px;
    font-weight: 700;
    margin-right: 4px
}

.ProductThumbDeliveryInfo_lfBadge__sz5La:before {
    background-image: url(//img.lfmall.co.kr/file/WAS/display/images/pc_spimage.png);
    background-position: -168px -53px;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    content: "";
    display: inline-block;
    height: 8px;
    margin-right: 3px;
    width: 14px
}

.SearchProductItem_commonTextWrap__GAkgs:has(textarea:focus) {
    border-color: #dc2832
}

.SearchProductItem_commonTextWrap__GAkgs:has(textarea:disabled),
.SearchProductItem_commonTextWrap__GAkgs:has(textarea:read-only) {
    background-color: #f7f7f7
}

.SearchProductItem_SearchProductItem__Yg3Iu {
    align-items: center;
    position: relative
}

.SearchProductItem_SearchProductItem__Yg3Iu .lPlus {
    width: 27%
}

.SearchProductItem_productInfo__rMkFO {
    flex-grow: 1;
    overflow: hidden
}

.CardTitle_commonTextWrap__W0au7:has(textarea:focus) {
    border-color: #dc2832
}

.CardTitle_commonTextWrap__W0au7:has(textarea:disabled),
.CardTitle_commonTextWrap__W0au7:has(textarea:read-only) {
    background-color: #f7f7f7
}

.cardTitle {
    margin: 0 auto;
    max-width: 1240px;
    padding: 30px 0;
    text-align: center
}

.cardTitle a,
.cardTitle p {
    color: #000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 38px
}

.cardTitle a {
    color: #000;
    display: block;
    padding: 0 20px;
    position: relative
}

.cardTitle a:after {
    background: none;
    border-color: #000;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    height: 16px;
    position: absolute;
    right: 4px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 16px
}

.CardTitle_cardTitle__0Mrfv.CardTitle_left__6G8DG {
    text-align: left
}

.CardTitle_cardTitle__0Mrfv.CardTitle_right__2X8Qq {
    text-align: right
}

.CardTitle_cardTitle__0Mrfv.CardTitle_black__V77bm>p {
    color: #000
}

.CardTitle_cardTitle__0Mrfv.CardTitle_white__5nMFo>p {
    color: #fff
}

.SearchPlan_commonTextWrap__GWJeI:has(textarea:focus) {
    border-color: #dc2832
}

.SearchPlan_commonTextWrap__GWJeI:has(textarea:disabled),
.SearchPlan_commonTextWrap__GWJeI:has(textarea:read-only) {
    background-color: #f7f7f7
}

.SearchPlan_searchPlanList__sW0Jk {
    margin-top: 20px;
    padding-bottom: 40px;
    width: 100%
}

.SearchPlan_searchPlanList__sW0Jk .cardTitle {
    padding: 0;
    text-align: left
}

.SearchPlan_searchPlanList__sW0Jk .cardTitle p {
    color: #000;
    display: inline-block;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    line-height: 37px;
    position: relative
}

.SearchPlan_searchPlanList__sW0Jk .cardTitle+.swiper {
    margin-top: 20px
}

.SearchPlan_searchPlanList__sW0Jk .swiper-slide a {
    display: block
}

.SearchPlan_searchPlanList__sW0Jk .swiper-slide img {
    object-fit: cover;
    width: 100%
}

.SearchPlan_searchPlanList__sW0Jk .swiper-button-next,
.SearchPlan_searchPlanList__sW0Jk .swiper-button-prev {
    margin-top: 0
}

@font-face {
    font-family: Gza-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("Gza-Regular"), local("Gza-Regular"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff2) format("woff2"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff) format("woff"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.ttf) format("truetype")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 200;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-light.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 400;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-regular.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 500;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-medium.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 600;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-semibold.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 700;
    src: local("SFpro"), local("SFpro"), url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-bold.woff) format("woff")
}

.commonTextWrap {
    background-color: #fff;
    border: 1px solid #ddd
}

.commonTextWrap textArea {
    border: none;
    height: calc(100% - 30px);
    overflow-y: auto;
    padding: 10px 15px;
    resize: none;
    width: 100%
}

.commonTextWrap textArea:disabled {
    background-color: #f7f7f7
}

.commonTextWrap textArea:focus,
.commonTextWrap textArea:focus-visible {
    outline: none
}

.SearchBanner_commonTextWrap__VapwI:has(textarea:focus) {
    border-color: #dc2832
}

.SearchBanner_commonTextWrap__VapwI:has(textarea:disabled),
.SearchBanner_commonTextWrap__VapwI:has(textarea:read-only) {
    background-color: #f7f7f7
}

.commonTextWrap.off {
    background-color: #f7f7f7
}

.commonTextWrap.on .textByte em {
    color: #000
}

.commonTextWrap .textByte {
    color: #757575;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 15px 12px 0;
    text-align: right
}

.commonTextWrap .textByte em {
    color: #000;
    display: inline-block;
    text-align: right;
    width: 40px
}

.commonInputText {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 15px;
    vertical-align: middle;
    width: 100%
}

.commonInputText::-webkit-input-placeholder {
    color: #b2b2b2
}

.commonInputText:-ms-input-placeholder {
    color: #b2b2b2
}

.commonInputText::placeholder {
    color: #b2b2b2
}

.commonInputText:focus {
    border-radius: 2px;
    color: #000;
    outline: auto;
    outline-color: #015ecc;
    transition: all .3s ease-in-out
}

.commonSelect {
    background: #fff url(//img.lfmall.co.kr/file/WAS/apps/2023/pfront/mypage/icon-faq-arrow-down.png) no-repeat 100%;
    background-size: 28px auto;
    border: 1px solid #ddd;
    color: #000;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 200px
}

.commonSelect select {
    color: #000;
    font-size: 14px;
    height: 38px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 38px 0 15px;
    width: 100%
}

.MuiSkeleton-root {
    background-color: #eee !important
}

.MuiSkeleton-root:after {
    background: linear-gradient(90deg, #eee, #ddd, #eee) !important
}

.inpType01 {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    line-height: 26px;
    padding: 0 6px;
    text-align: right
}

.inpType01[type=number] {
    -webkit-appearance: none
}

.inpType01[type=number]::-webkit-inner-spin-button,
.inpType01[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.lfInputText {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    line-height: 26px;
    padding: 0 6px
}

.SearchBanner_searchBanner__u0oS3 {
    align-items: center;
    background-color: #0f6e74;
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 10px 0 40px;
    position: relative;
    width: 100%
}

.SearchBanner_searchBanner__u0oS3 .SearchBanner_txt__tbT\+7 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
    width: 50%
}

.SearchBanner_searchBanner__u0oS3 .SearchBanner_txt__tbT\+7+.SearchBanner_txt__tbT\+7 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 120px;
    text-align: left
}

.SearchBanner_searchBanner__u0oS3 .SearchBanner_img__ReNF1 {
    height: 100%;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    top: 0
}

.SearchBanner_searchBanner__u0oS3 .SearchBanner_img__ReNF1 img {
    height: 100%
}