.react-tabs{
    width: 430px;
    margin: 0 auto;
}

.Login_loginTab__WvaCW {
    display: flex;
    display: -webkit-flex;
    height: 46px;
    margin: 0 auto;
    position: relative;
    width: 430px;
}
.Login_loginTab__WvaCW:before {
    background: #000;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.Login_loginTab__WvaCW>li.Login_active__7sJr5, .Login_loginTab__WvaCW>li.selected {
    border: 2px solid #000;
    border-bottom: 0;
    color: #000;
    font-weight: 700;
    margin: 0 -1px;
    position: relative;
}
.Login_loginTab__WvaCW>li {
    background-color: #f4f4f4;
    border: 1px solid #c3c3c3;
    border-bottom: 0;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    line-height: 44px;
    text-align: center;
    width: 144px;
}
.MemberLogin_inputType__WMMxf {
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    padding-left: 20px;
    width: 94%;
}

.LfInput_input__eAm0q{
    position: absolute;
}
.LfInput_lfInputCheck__v0ZyE .LfInput_input__eAm0q+label {
    display: block;
    padding-left: 30px;
    padding-top: 2px;
    position: relative;
}
.LoginFindField_link__azoHn span:first-child {
    border-right: 1px solid #ccc;
}
.LoginButton_btnBox__7chNW .LoginButton_btnLogin__dFlyn {
    background-color: #dc2832;
    color: #fff;
}
.MemberLogin_loginBtm__3YbzT{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.LoginFindField_link__azoHn span {
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 0 8px;
}
.LoginButton_btnBox__7chNW button {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    height: 60px;
    letter-spacing: 0;
    line-height: 19px;
    width: 100%;
}
.LoginButton_btnBox__7chNW .LoginButton_btnJoin__6Pykn {
    border: 1px solid #dc2832;
    color: #dc2832;
    margin-top: 10px;
}
.SnsLoginButtons_snsLogin__braOt .SnsLoginButtons_tit__iQYoi:before {
    background: #ccc;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
}
.SnsLoginButtons_snsLogin__braOt {
    padding-top: 50px;
}
.SnsLoginButtons_snsLogin__braOt .SnsLoginButtons_tit__iQYoi {
    position: relative;
    text-align: center;
}
.SnsLoginButtons_snsLogin__braOt .SnsLoginButtons_tit__iQYoi span {
    background-color: #f4f4f4;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    line-height: 17px;
    padding: 0 17px;
    position: relative;
}
.SnsLoginButtons_snsLogin__braOt ul {
    display: flex;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.SnsLoginButtons_naver__EKUXv img{
    width:50px;
}
.SnsLoginButtons_kakao__TQ8NM img{
    width:50px;
}
.sns-login{
    display:flex;
    column-gap:10px;
}

.order-list{
    margin : 25px 0;
}
.order-name {
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    padding-left: 20px;
    width: 95%;
}
.NonMemberLogin_btnArrow__h9hmA {
    background-color: #999;
    color: #fff;
    font-size: 12px;
    height: 28px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 10px;
    padding: 0 12px;
}
.NonMemberLogin_btnArrow__h9hmA span:after {
    background: url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/sp.png) no-repeat -187px -113px;
    content: "";
    display: inline-block;
    height: 9px;
    margin-left: 8px;
    width: 6px;
}
.NonMemberLogin_btnOrder__touaH {
    background-color: #dc2832;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 70px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 20px 0;
    width: 100%;
}
.NonMemberLogin_txt__CF4t1 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: 10px;
    padding-left: 6px;
}
strong{
    font-weight: bold;
}
.NonMemberLogin_confirm__zLTK0{
    padding-top: 20px;
}
.NonMemberLogin_btnArrow__h9hmA {
    background-color: #999;
    color: #fff;
    font-size: 12px;
    border: none;
    height: 28px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 10px;
    padding: 0 12px;
}
.MemberLogin_inputArea__-zx5g{
    padding-top:2px;
}
.NonMemberLogin_loginForm__0ZEjI{
    display: none;
}
.NonMemberLogin_btnArrow__h9hmA span:after {
    background: url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/sp.png) no-repeat -187px -113px;
    content: "";
    display: inline-block;
    height: 9px;
    margin-left: 8px;
    width: 6px;
}