.CertificationMobileTelecom_label__Aml33 {
    color: #000;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 20px 0 10px
}

.CertificationMobileTelecom_cellList__YH0SU {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-right: 1px
}

.CertificationMobileTelecom_cellList__YH0SU>li {
    flex: 1 1;
    height: 40px;
    line-height: 40px;
    text-align: center
}

.CertificationMobileTelecom_cellList__YH0SU input[type=radio] {
    display: block;
    height: 40px;
    opacity: 0;
    position: absolute;
    width: auto
}

.CertificationMobileTelecom_cellList__YH0SU input[type=radio]:checked+label {
    color: #000
}

.CertificationMobileTelecom_cellList__YH0SU input[type=radio]:checked+label:before {
    border-color: #dc2832;
    z-index: 6
}

.CertificationMobileTelecom_cellList__YH0SU label {
    color: #999;
    display: block;
    font-size: 15px;
    height: 100%;
    letter-spacing: 0;
    line-height: 20px;
    line-height: 40px;
    padding: 0;
    position: relative
}

.CertificationMobileTelecom_cellList__YH0SU label:before {
    border: 1px solid #ccc;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    left: 0;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 5
}

.CertificationMobileTelecom_cellList__YH0SU>li:first-child label:before {
    border-radius: 4px 0 0 4px
}

.CertificationMobileTelecom_cellList__YH0SU>li:last-child label:before {
    border-radius: 0 4px 4px 0
}

.CertificationMobileTelecom_select__IjTc8 {
    margin-top: 12px;
    position: relative
}

.CertificationMobileTelecom_select__IjTc8:after {
    background: url(//img.lfmall.co.kr/file/WAS/apps/2014/image/mfront/common/arrow-down-black-X2.png) no-repeat 0 0;
    background-size: 11px auto;
    content: "";
    height: 7px;
    position: absolute;
    right: 16px;
    top: 20px;
    width: 11px
}

.CertificationMobileTelecom_select__IjTc8 select {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    height: 44px;
    letter-spacing: 0;
    line-height: 20px;
    padding-left: 15px;
    width: 100%
}

.CertificationMobileTelecom_select__IjTc8 select:focus {
    border-color: #dc2832
}

@font-face {
    font-family: Gza-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("Gza-Regular"),local("Gza-Regular"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff2) format("woff2"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.woff) format("woff"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/Gza-Regular.ttf) format("truetype")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 200;
    src: local("SFpro"),local("SFpro"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-light.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 400;
    src: local("SFpro"),local("SFpro"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-regular.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 500;
    src: local("SFpro"),local("SFpro"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-medium.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 600;
    src: local("SFpro"),local("SFpro"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-semibold.woff) format("woff")
}

@font-face {
    font-family: SFpro;
    font-style: normal;
    font-weight: 700;
    src: local("SFpro"),local("SFpro"),url(//img.lfmall.co.kr/file/WAS/display/lf2022/font/sanfranciscodisplay-bold.woff) format("woff")
}

.MemberForm_mypage__ovS\+2 {
    margin: 0 auto;
    overflow: hidden;
    padding: 16px 0 120px;
    width: 940px
}

.MemberForm_mypageContents__fZnL8 {
    float: left;
    margin: 0 0 0 40px;
    width: 745px
}

.MemberForm_mypageTitle__Tfv09 {
    border-bottom: 1px solid #000;
    margin-top: 54px;
    padding: 0 5px 16px
}

.MemberForm_mypageTitle__Tfv09 h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px
}

.MemberForm_topInfo__KTFrc {
    color: #000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 15px
}

.MemberForm_topInfo__KTFrc .MemberForm_point__n-bpr {
    color: red
}

.MemberForm_entryTable__N2wos {
    margin: 30px 0 20px
}

.MemberForm_entryTable__N2wos table {
    border-top: 1px solid #000;
    table-layout: fixed;
    width: 100%
}

.MemberForm_entryTable__N2wos tbody th {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ccc;
    color: #666;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 10px 9px 15px;
    text-align: left
}

.MemberForm_entryTable__N2wos .MemberForm_comment__xvJ2U {
    color: #dc2832;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    padding-right: 10px;
    padding-top: 8px
}

.MemberForm_entryTable__N2wos .MemberForm_comment__xvJ2U.MemberForm_off__ovKZo {
    display: none
}

.MemberForm_entryTable__N2wos .MemberForm_essential__kQFI6 {
    color: #dc2832;
    font-weight: 700
}

.MemberForm_entryTable__N2wos tbody td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 10px 9px 15px;
    text-align: left
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_mLeft__nmNGR {
    margin-left: 5px
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_box__ENsjg {
    color: #888;
    margin-top: 10px
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_box__ENsjg button {
    margin-top: 5px
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_w90__66aGC {
    width: 90px
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_w150__RfXZ5 {
    width: 150px
}

.MemberForm_entryTable__N2wos tbody td .MemberForm_w200__8w71Q {
    width: 200px
}

.MemberForm_entryTable__N2wos tbody td .commonInputText,.MemberForm_entryTable__N2wos tbody td .commonSelect {
    height: 28px;
    margin-right: 5px
}

.MemberForm_entryTable__N2wos tbody td .commonSelect {
    height: 28px
}

.MemberForm_entryTable__N2wos tbody td .commonSelect select {
    height: 26px
}

.MemberForm_entryTable__N2wos tbody td .commonSelect select:disabled {
    background-color: #f4f4f4
}

.MemberForm_entryTable__N2wos .MemberForm_bar__9td1C {
    margin-right: 5px
}

.MemberForm_entryTable__N2wos .MemberForm_flexBox__JPHgJ {
    align-items: center;
    display: flex
}

.MemberForm_entryTable__N2wos .MemberForm_default__5JV0K {
    -webkit-appearance: auto;
    margin: 0 5px
}

.MemberForm_entryTable__N2wos .MemberForm_txt__HN-I6 {
    margin-right: 5px
}

.MemberForm_entryTable__N2wos .MemberForm_accountList__6U8LD>li+li {
    border-top: 1px dotted #cbcbcb;
    margin-top: 8px;
    padding-top: 8px
}

.MemberForm_entryTable__N2wos .MemberForm_accountList__6U8LD>li img {
    margin-right: 5px
}

.MemberForm_entryTable__N2wos .MemberForm_accountList__6U8LD>li .MemberForm_ing__kOFIZ {
    color: #666;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 5px
}

.MemberForm_entryTable__N2wos .MemberForm_accountList__6U8LD>li .MemberForm_ing__kOFIZ span {
    color: #666;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    margin-right: 20px
}

.MemberForm_entryTable__N2wos .MemberForm_accountList__6U8LD>li .MemberForm_ing__kOFIZ .MemberForm_btnDelete__Qeyki {
    background: none;
    background: url(//img.lfmall.co.kr/file/WAS/apps/2013/image/frontoffice/common/ico/x-circle-gray.jpg) no-repeat;
    background-position: 100%;
    border: 0;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    padding-right: 17px
}

.MemberForm_entryTable__N2wos .MemberForm_addList__J8z38 li {
    align-items: center;
    display: flex
}

.MemberForm_entryTable__N2wos .MemberForm_addList__J8z38 li+li,.MemberForm_entryTable__N2wos .MemberForm_txtMarketing__VoRHH {
    margin-top: 5px
}

.MemberForm_entryTable__N2wos .MemberForm_pushList__KhqI- {
    display: flex;
    flex-wrap: wrap
}

.MemberForm_entryTable__N2wos .MemberForm_pushList__KhqI->li {
    margin-top: 10px;
    width: 50%
}

.MemberForm_entryTable__N2wos .MemberForm_privacyList__db4J6 {
    align-items: center;
    display: inline-flex
}

.MemberForm_entryTable__N2wos .MemberForm_privacyList__db4J6>li {
    margin-right: 20px
}

.MemberForm_entryTable__N2wos .MemberForm_tipBox__tY07c {
    display: inline-block;
    position: relative
}

.MemberForm_entryTable__N2wos .MemberForm_tip__PUX2A {
    background: url(//img.lfmall.co.kr/file/WAS/apps/2019/pfront/member/sp_join.png) no-repeat 0 0;
    background-position: -201px 0;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    vertical-align: top;
    width: 18px
}

.MemberForm_checkPrivacy__klPxX .MemberForm_privacyInput__qW7oR label {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px
}

.MemberForm_checkPrivacy__klPxX ul {
    margin-top: 10px
}

.MemberForm_checkPrivacy__klPxX ul li {
    color: #000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    padding-left: 9px;
    position: relative
}

.MemberForm_checkPrivacy__klPxX ul li:before {
    background-color: #000;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 4px
}

.MemberForm_checkPrivacy__klPxX ul li .MemberForm_point__n-bpr {
    color: red
}

.MemberForm_btnArea__xwPFT {
    margin-top: 30px;
    text-align: center
}

.MemberForm_btnArea__xwPFT button {
    width: 140px
}

.MemberForm_certificationLayer__Kh2Su {
    width: 480px
}

.MemberForm_modalPeriod__6LK-5 {
    left: 5px;
    text-align: left;
    top: 30px;
    width: 400px
}

.MemberForm_modalPeriod__6LK-5 div {
    word-break: keep-all
}

.MemberForm_changePasswordModal__TIvjL {
    width: 450px
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_inputField__mt3f2 label {
    font-size: 0;
    height: 1px;
    left: 0;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 1px
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_inputField__mt3f2 .MemberForm_inputEdit__9MlTF {
    border-bottom: 1px solid #eee
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_inputField__mt3f2 .MemberForm_inputEdit__9MlTF .MemberForm_inputType__BxbH4 {
    border: 0;
    border-radius: 0;
    font-size: 13px;
    height: 56px;
    letter-spacing: 0;
    line-height: 18px;
    line-height: 56px;
    width: 100%
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_noti__2AeGl {
    margin-top: 20px
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_noti__2AeGl .MemberForm_title__pfOdl {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    padding-bottom: 10px
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_noti__2AeGl ul li {
    color: #757575;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    padding-left: 10px;
    position: relative
}

.MemberForm_changePasswordModal__TIvjL .MemberForm_noti__2AeGl ul li:before {
    color: #757575;
    content: "-";
    font-size: 12px;
    left: 0;
    letter-spacing: 0;
    line-height: 17px;
    line-height: 1;
    position: absolute;
    top: 0
}

.Postcode_postcodeWrap__Nlk4J {
    border: 1px solid #aaa;
    height: 475px;
    margin: 0 auto;
    width: 402px
}
