<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LF쇼핑몰</title>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link href="/css/js/women.js" rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css">
</head>

<header>
    <h1>lF쇼핑몰 헤더</h1>
</header>

<body>

    <nav>
        <ul>
            <li><a href="#home">홈</a></li>
            <li><a href="#women">여성의류 <i class=" ">열기/닫기</i></a>
                <div class="swiper-container>

                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><a>여성의류</a></li>
                    <li class="swiper-slide"><a>남성의류</a></li>
                    <li class="swiper-slide"><a>가방/잡화</a></li>
                    <li class="swiper-slide"><a>슈즈</a></li>
                    <li class="swiper-slide"><a>골프</a></li>
                    <li class="swiper-slide"><a>스포츠/레져</a></li>
                    <li class="swiper-slide"><a>명품</a></li>
                    <li class="swiper-slide"><a>리빙</a></li>
                    <li class="swiper-slide"><a>뷰티</a></li>
                    <li class="swiper-slide"><a>키즈</a></li>
                    <ll class="swiper-slide"><a>여행</a></li>
                </ul>
                </div>
            </li>
        </ul>
    </nav>

    <nav>
        <ul>여성의류
            <li><a href="#women">A</a></li>
            <li><a href="#women">B</a></li>
            <li><a href="#women">C</a></li>
            <li><a href="#women">D</a></li>
            <li><a href="#women">E</a></li>
            <li><a href="#women">F</a></li>
            <li><a href="#women">G</a></li>
            <li><a href="#women">H</a></li>
        </ul>
    </nav>

    <sidebar>
        <ul>사이드바
            <li><a href="#women">A</a></li>
            <li><a href="#women">B</a></li>
            <li><a href="#women">C</a></li>
            <li><a href="#women">D</a></li>
            <li><a href="#women">E</a></li>
            <li><a href="#women">F</a></li>
            <li><a href="#women">G</a></li>
            <li><a href="#women">H</a></li>
        </ul>
    </sidebar>



    <main>
        <section>
            <div class="category">
                <ul>아이템
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                    <li>D</li>
                    <li>E</li>
                    <li>F</li>
                    <li>G</li>
                </ul>
            </div>
            <!-- 다른 하위 카테고리 추가 -->
        </section>
    </main>



</body>

<footer>
    <p>&copy; 2024 쇼핑몰</p>
</footer>
</body>
</html>