<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="/css/signupRegister.css">
</head>
<body>
<form action="/findPasswordOk" method="post">
  <div class="register">
    <div class="MemberRegisterForm_topTitle__G2yvu">비밀번호 찾기</div>
    <div class="MemberRegisterForm_form__fQnj5">
      <div class="MemberRegisterForm_inputField__Vx8et" style="padding: 10px 0;"><input name="email" style="width:95%;border-color:#ddd;" type="text" class="MemberRegisterForm_inputType__JBVw0" placeholder="등록한 이메일을 입력해주세요." id="email" /></div>
      <div class="LfButtonGroup_lfButtonGroup__X0ZW1 MemberRegisterForm_btnWrap__eLzkI">
          <button type="submit" class="LfButton_lfButton__djCj2 LfButton_sizePC5__7Gjip LfButton_fillRed__cxMET disabled">전송</button>
      </div>
    </div>
  </div>
</form>
<div th:replace="~{includes/footer}"></div>
</body>
</html>