<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<div class="MemberJoin_memeberJoin__hor8+">
    <p class="MemberJoin_title__4Bahh">
        <strong>LFmall 회원가입을 환영합니다.</strong>회원가입하시고 LFmall의 다양한 서비스를 이용해보세요.</p>
    <button type="button" class="MemberJoin_btnJoin__dtjHY" onclick="location.href='/signup/register'">회원가입</button>
    <div class="MemberJoin_joinSns__cNRSw"><span class="MemberJoin_tit__IS2AX">간편가입</span>
        <button type="button" class="MemberJoin_btnJoinNaver__kHS8b"><span>네이버 아이디로 회원가입</span></button>
        <button type="button" class="MemberJoin_btnJoinKakao__gt7Tx"><span>카카오 아이디로 회원가입</span></button>
    </div>
    <ul class="MemberBenefitBox_benefitBox__nGYph">
        <li class="MemberBenefitBox_iconBirth__5OvgM"><p><strong>생일 기념 혜택</strong>생일(양/음력) 당일<br>기프트 마일리지<br>10,000M 지급</p></li>
        <li class="MemberBenefitBox_iconClass__TalpV"><p><strong>회원 등급별 혜택</strong>매월 1일<br>7% 할인쿠폰 발급</p></li>
        <li class="MemberBenefitBox_iconMileage__+wScs"><p><strong>마일리지 혜택</strong>구매 시 1% 적립<br>구매후기 작성 시<br>최대 1,000M 적립</p></li>
        <li class="MemberBenefitBox_iconReturn__rtp+z"><p><strong>무료교환/반품 혜택</strong>매월 무료교환/반품<br>쿠폰 1장 발급</p></li>
    </ul>
</div>
</body>
</html>