<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mypage</title>
  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="stylesheet" href="/css/userinfo_change2.css">
</head>
<body>
<header>
  <div th:replace="~{includes/header}"></div>
</header>
<div id="wrapper">
  <div id="container">
    <div id="contents">
      <div class="content_new">
        <div class="location_path">
          <ul id="category_path" class="category_path">
            <li>
              <!-- [D]하위 뎁스 없는 경우 클래스명 depth_none 추가 -->
              <a href="/p2/display/menu?id=501&amp;etag1=045_A002_E239&amp;etag2=0&amp;etag3=1&amp;etag4=0"
                 class="lfc::NONE:PATH::1:1:홈::::">홈</a>
            </li>

            <li id="HEADERPAGENAME"><a href="javascript:void(0);"
                                       onclick="javascript:cfGoToPageForLogin(PAGE_MYPAGE);">마이페이지</a></li>

            <!-- default타입 path -->
            <li><a href="javascript:void(0);" class="depth_none">쇼핑내역</a></li>
            <li class="on"><a href="javascript:void(0);"> 주문/배송 내역</a></li>
          </ul>
        </div>

        <div class="mypage_base">

          <h2><a href="/mypage"
                 onclick="javascript:cfGoToPageForLogin(PAGE_MYPAGE);">마이페이지</a></h2>

          <div class="mypage_info">

            <div class="left">
              <p><em></em></p>

              <span class="mark n-grade ty07">

                                </span>
              <a href="javascript:void(0);"
                 onclick="cfGoToPage(PAGE_MEM_INTEG_GRADE+'&amp;etag1=045_A110_E324&amp;etag2=0&amp;etag3=0&amp;etag4=0');">등급혜택보기</a>

            </div>
            <ul>
              <li>
                <a href="javascript:void(0);"
                   onclick="cfGoToPageForLogin(PAGE_MY_REVIEW+'&amp;etag1=045_A110_E327&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  상품리뷰
                  <span>
                                            <em>0</em>개
                                        </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dash-link"
                   onclick="cfGoToPageForLogin(PAGE_COUPON+'&amp;left_menu=0&amp;&amp;etag1=045_A110_E231&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  쿠폰<!-- 쿠폰은 left메뉴가 2개임(쿠폰조회,쿠폰등록) -->
                  <span>
                                            <em></em>장
                                        </span>
                </a>
              </li>
              <li>
                <a onclick="cfGoToPageForLogin(PAGE_FPOINT+'&amp;left_menu=2&amp;&amp;etag1=045_A110_E328&amp;etag2=0&amp;etag3=0&amp;etag4=0');"
                   href="javascript:void(0);">
                  e기프트 마일리지
                  <span>
                                            <em>0</em>M
                                        </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);"
                   onclick="cfGoToPageForLogin(PAGE_POINT+'&amp;left_menu=3&amp;&amp;etag1=045_A110_E329&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  마일리지
                  <span>
                                            <em></em>M
                                        </span>
                </a>
              </li>

              <!--[LFML-71477] 간편결제(LFpay) 도입 START  -->
              <li class="lfpay">

                <a href="javascript:void(0);" onclick="goLfpay();return false;">
                  <!-- 202203 BX개선 -->
                  <div class="lf-logo"><img
                          src="//img.lfmall.co.kr/file/WAS/display/lf2022/pc/logo-l-fpay2x.png"
                          alt="Lfpay"></div>

                  <span>등록하기</span>

                </a>
              </li>
              <!--[LFML-71477] 간편결제(LFpay) 도입 END -->

            </ul>
          </div>
        </div>

        <div class="mypage_cont">
          <!-- LNB -->
          <div class="common_lnb">
            <ul>

              <li class="on">
                <span class="tit">쇼핑내역</span>
                <ul class="sub">
                  <li class="on"><a href="javascript:void(0);"
                                    onclick="cfGoToMyPageForLogin(PAGE_ORDER+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=1&amp;etag4=0');">주문/배송
                    내역</a></li> <!-- LFML-68081 명칭변경 - 주문내역 전체보기 >> 주문/배송 내역 -->
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_ORDER_ASK+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=2&amp;etag4=0');">취소/반품/교환
                    신청</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_ORDER_CRE+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=3&amp;etag4=0');">취소/반품/교환
                    내역</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_REPAYMENT+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=4&amp;etag4=0');">재결제
                    대기</a></li>

                  <!-- <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_OFFSHOP_REPAIR+'&etag1=045_A111_E331&etag2=0&etag3=5&etag4=0');">오프라인 매장 수선내역</a></li> -->

                  <!-- <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_CLUBL_MEMBERSHIP)">Club-L 회원권 주문내역</a></li> -->


                  <li><a href="javascript:void(0);"
                         onclick="sendOpenPageTagAjax('155', '045_A296_E253','0','0','0', 'https://www.whypaymore.co.kr/d/account/login/pnrlf');">항공권
                    예약/조회</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="sendOpenPageTagAjax('182', '045_A296_E253','0','7','0', '//lf.tigergds.com/SignIn');">골프
                    예약/조회</a></li>
                </ul>
              </li>
              <li>
                <span class="tit">나의혜택</span>
                <ul class="sub">

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_COUPON+'&amp;left_menu=0&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=2&amp;etag4=0');">쿠폰
                    조회</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_COUPON_REG+'&amp;left_menu=1&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=3&amp;etag4=0');">쿠폰
                    등록</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_FPOINT+'&amp;left_menu=2&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=5&amp;etag4=0');">e기프트
                    마일리지 조회</a><span class="info"
                                     onclick="javascript:openLayer('first_point1',590,120)">정보</span></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_POINT+'&amp;left_menu=3&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=4&amp;etag4=0');">마일리지
                    조회</a></li>


                  <!-- <dd><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_CLUBL_DC_LIMIT);">Club-L 할인한도 조회</a></dd> -->



                  <!-- [LFML-71477] LFpay -->

                  <li><a href="javascript:void(0);"
                         onclick="openLfpayLayer('registLfpay'); return false;">LFpay</a></li>

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageNewMenuForLogin(PAGE_PLANNING_DTL+'&amp;datacls=75770');">LFmall
                    신용카드</a></li>

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageNewMenuForLogin(PAGE_ALLIANCEY_SERVICE+'?left_menu=7&amp;etag1=045_A292_E741&amp;etag2=0&amp;etag3=0&amp;etag4=0');">제휴
                    서비스</a></li>
                </ul>
              </li>
              <li>
                <span class="tit">나의활동</span>
                <ul class="sub">
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_MY_REVIEW+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=1&amp;etag4=0');">상품리뷰</a>
                  </li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_QNALIST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=2&amp;etag4=0');">상품
                    Q&amp;A</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_COUNSEL+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=3&amp;etag4=0');">1:1상담</a>
                  </li>

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_WISHLIST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=4&amp;etag4=0');">위시리스트</a>
                  </li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_MYFAVORITE+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=5&amp;etag4=0');">관심
                    브랜드 조회</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_VOC+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=6&amp;etag4=0');">고객제안</a>
                  </li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_REWAREHOUSE_NOTICE+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=7&amp;etag4=0');">재입고
                    알림 내역</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_EVENT_HST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=8&amp;etag4=0');">이벤트/체험단
                    참여 내역</a></li>
                </ul>
              </li>
              <li>
                <span class="tit">회원정보</span>
                <ul class="sub">

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_MEM_INTEG_GRADE+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=1&amp;etag4=0');">회원등급</a>
                  </li>
                  <!--                 <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MEM_INFO);">회원정보 조회/수정</a></dd> -->

                  <li><a href="/mypage/userInfo_change"
                         onclick="cfGoToMyPageForLogin(PAGE_MEM_INFO+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=2&amp;etag4=0');">회원정보
                    변경</a></li>

                  <li style="display:none;"><a href="javascript:void(0);"
                                               onclick="cfGoToMyPageForLogin(PAGE_VIRCLE_NFT_ADRESS+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=7&amp;etag4=0');">KLIP
                    주소</a></li><!-- [LFML-82481] 디지털개런티카드 -->

                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_REFUND_ACCOUNT+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=3&amp;etag4=0');">환불계좌관리</a>
                  </li>
                  <li><a href="/mypage/address"
                         onclick="cfGoToMyPageForLogin(PAGE_ADDRESS+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=5&amp;etag4=0');">배송지
                    관리</a></li>
                  <!-- <dd><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_AFFL_CERT);">제휴임직원 인증</a></dd> -->
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_AFFL_CERT+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=6&amp;etag4=0');">제휴임직원
                    인증</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_FMLY_CERT);">패밀리 인증</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_MEM_SECEDE+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=4&amp;etag4=0');">회원탈퇴</a>
                  </li>
                  <!--                 <li><a href="javascript:void(0);" onclick="cfCbMemCheckGoToMembers(PAGE_LFMEMBERS_PWCNG);">회원탈퇴</a></li> -->
                </ul>
              </li>
              <li><a href="javascript:void(0);"
                     onclick="cfGoToMyPageForLogin(PAGE_FAQ+'&amp;etag1=045_A111_E207&amp;etag2=0&amp;etag3=0&amp;etag4=0');"
                     class="tit">FAQ</a></li>
              <li><a href="javascript:void(0);"
                     onclick="cfGoToMyPageForLogin(PAGE_CUSTOMER+'&amp;etag1=045_A111_E018&amp;etag2=0&amp;etag3=0&amp;etag4=0');"
                     class="tit">고객센터</a></li>


            </ul>
          </div>
          <div class="MemberForm_mypageContents__fZnL8">
            <div class="MemberForm_mypageTitle__Tfv09">
              <h4>회원정보 변경</h4>
            </div>
            <form action="/mypage/userInfo_change2" method="post">
              <div class="MemberForm_entryTable__N2wos">
                <p class="MemberForm_topInfo__KTFrc"><strong>변경사항</strong></p>
                  <table>
                  <colgroup>
                    <col style="width: 22%;">
                    <col>
                  </colgroup>
                  <tbody>
                  <tr>
                    <th>이름</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="newName" type="text" class="commonInputText MemberForm_w200__8w71Q" value="name">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>아이디</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="username" id="username" type="text" class="commonInputText MemberForm_w200__8w71Q" th:value="${username}">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>현재 비밀번호</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="password" type="password" id="password" class="commonInputText MemberForm_w200__8w71Q" placeholder="현재 비밀번호 입력" required>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>새 비밀번호</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="newPassword" type="password" id="newPassword" class="commonInputText MemberForm_w200__8w71Q" placeholder="새 비밀번호 입력">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>비밀번호 확인</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="confirmPassword" type="password" id="confirmPassword" class="commonInputText MemberForm_w200__8w71Q" placeholder="새 비밀번호 재입력">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <!--                                <tr>-->
                  <!--                                    <th>계정 연동(선택)</th>-->
                  <!--                                    <td>-->
                  <!--                                        <ul class="MemberForm_accountList__6U8LD">-->
                  <!--                                            <li><img src="//img.lfmall.co.kr/file/WAS/apps/2017/pfront/ico_naver_square.png"-->
                  <!--                                                     alt="네이버 아이콘">네이버<button type="button"-->
                  <!--                                                                              class="LfButton_lfButton__djCj2 LfButton_sizePC1__uy20K MemberForm_mLeft__nmNGR">연동-->
                  <!--                                                추가</button></li>-->
                  <!--                                            <li><img src="//img.lfmall.co.kr/file/WAS/apps/2017/pfront/ico_kakao_square.png"-->
                  <!--                                                     alt="카카오 아이콘">카카오<button type="button"-->
                  <!--                                                                              class="LfButton_lfButton__djCj2 LfButton_sizePC1__uy20K MemberForm_mLeft__nmNGR">연동-->
                  <!--                                                추가</button>-->
                  <!--                                                &lt;!&ndash;                        <div class="MemberForm_ing__kOFIZ"><span>e-mail 정보 제공 동의 안 함</span><span> 2023/09/13&ndash;&gt;-->
                  <!--                                                &lt;!&ndash;                                연동중</span><button type="button" class="MemberForm_btnDelete__Qeyki">연동 해제</button></div>&ndash;&gt;-->
                  <!--                                            </li>-->
                  <!--                                        </ul>-->
                  <!--                                    </td>-->
                  <!--                                </tr>-->
                  <tr>
                    <th>휴대전화</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="newPhonenumber" type="text" class="commonInputText MemberForm_w200__8w71Q" value="phonenumber">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>이메일</th>
                    <td>
                      <ul class="MemberForm_addList__J8z38">
                        <li>
                          <input name="email" id="email" type="email" class="commonInputText MemberForm_w200__8w71Q" th:value="${email}">
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <!--                                <tr>-->
                  <!--                                    <th>생년월일</th>-->
                  <!--                                    <td>-->
                  <!--                                        <div class="MemberForm_flexBox__JPHgJ">-->
                  <!--                                            <div class="commonSelect MemberForm_w90__66aGC"><select id="birthYear">-->
                  <!--                                                <option value="">년</option>-->
                  <!--                                                <option value="2024">2024</option>-->
                  <!--                                                <option value="2023">2023</option>-->
                  <!--                                                <option value="2022">2022</option>-->
                  <!--                                                <option value="2021">2021</option>-->
                  <!--                                                <option value="2020">2020</option>-->
                  <!--                                                <option value="2019">2019</option>-->
                  <!--                                                <option value="2018">2018</option>-->
                  <!--                                                <option value="2017">2017</option>-->
                  <!--                                                <option value="2016">2016</option>-->
                  <!--                                                <option value="2015">2015</option>-->
                  <!--                                                <option value="2014">2014</option>-->
                  <!--                                                <option value="2013">2013</option>-->
                  <!--                                                <option value="2012">2012</option>-->
                  <!--                                                <option value="2011">2011</option>-->
                  <!--                                                <option value="2010">2010</option>-->
                  <!--                                                <option value="2009">2009</option>-->
                  <!--                                                <option value="2008">2008</option>-->
                  <!--                                                <option value="2007">2007</option>-->
                  <!--                                                <option value="2006">2006</option>-->
                  <!--                                                <option value="2005">2005</option>-->
                  <!--                                                <option value="2004">2004</option>-->
                  <!--                                                <option value="2003">2003</option>-->
                  <!--                                                <option value="2002">2002</option>-->
                  <!--                                                <option value="2001">2001</option>-->
                  <!--                                                <option value="2000">2000</option>-->
                  <!--                                                <option value="1999">1999</option>-->
                  <!--                                                <option value="1998">1998</option>-->
                  <!--                                                <option value="1997">1997</option>-->
                  <!--                                                <option value="1996">1996</option>-->
                  <!--                                                <option value="1995">1995</option>-->
                  <!--                                                <option value="1994">1994</option>-->
                  <!--                                                <option value="1993">1993</option>-->
                  <!--                                                <option value="1992">1992</option>-->
                  <!--                                                <option value="1991">1991</option>-->
                  <!--                                                <option value="1990">1990</option>-->
                  <!--                                                <option value="1989">1989</option>-->
                  <!--                                                <option value="1988">1988</option>-->
                  <!--                                                <option value="1987">1987</option>-->
                  <!--                                                <option value="1986">1986</option>-->
                  <!--                                                <option value="1985">1985</option>-->
                  <!--                                                <option value="1984">1984</option>-->
                  <!--                                                <option value="1983">1983</option>-->
                  <!--                                                <option value="1982">1982</option>-->
                  <!--                                                <option value="1981">1981</option>-->
                  <!--                                                <option value="1980">1980</option>-->
                  <!--                                                <option value="1979">1979</option>-->
                  <!--                                                <option value="1978">1978</option>-->
                  <!--                                                <option value="1977">1977</option>-->
                  <!--                                                <option value="1976">1976</option>-->
                  <!--                                                <option value="1975">1975</option>-->
                  <!--                                                <option value="1974">1974</option>-->
                  <!--                                                <option value="1973">1973</option>-->
                  <!--                                                <option value="1972">1972</option>-->
                  <!--                                                <option value="1971">1971</option>-->
                  <!--                                                <option value="1970">1970</option>-->
                  <!--                                                <option value="1969">1969</option>-->
                  <!--                                                <option value="1968">1968</option>-->
                  <!--                                                <option value="1967">1967</option>-->
                  <!--                                                <option value="1966">1966</option>-->
                  <!--                                                <option value="1965">1965</option>-->
                  <!--                                                <option value="1964">1964</option>-->
                  <!--                                                <option value="1963">1963</option>-->
                  <!--                                                <option value="1962">1962</option>-->
                  <!--                                                <option value="1961">1961</option>-->
                  <!--                                                <option value="1960">1960</option>-->
                  <!--                                                <option value="1959">1959</option>-->
                  <!--                                                <option value="1958">1958</option>-->
                  <!--                                                <option value="1957">1957</option>-->
                  <!--                                                <option value="1956">1956</option>-->
                  <!--                                                <option value="1955">1955</option>-->
                  <!--                                                <option value="1954">1954</option>-->
                  <!--                                                <option value="1953">1953</option>-->
                  <!--                                                <option value="1952">1952</option>-->
                  <!--                                                <option value="1951">1951</option>-->
                  <!--                                                <option value="1950">1950</option>-->
                  <!--                                                <option value="1949">1949</option>-->
                  <!--                                                <option value="1948">1948</option>-->
                  <!--                                                <option value="1947">1947</option>-->
                  <!--                                                <option value="1946">1946</option>-->
                  <!--                                                <option value="1945">1945</option>-->
                  <!--                                                <option value="1944">1944</option>-->
                  <!--                                                <option value="1943">1943</option>-->
                  <!--                                                <option value="1942">1942</option>-->
                  <!--                                                <option value="1941">1941</option>-->
                  <!--                                                <option value="1940">1940</option>-->
                  <!--                                                <option value="1939">1939</option>-->
                  <!--                                                <option value="1938">1938</option>-->
                  <!--                                                <option value="1937">1937</option>-->
                  <!--                                                <option value="1936">1936</option>-->
                  <!--                                                <option value="1935">1935</option>-->
                  <!--                                                <option value="1934">1934</option>-->
                  <!--                                                <option value="1933">1933</option>-->
                  <!--                                                <option value="1932">1932</option>-->
                  <!--                                                <option value="1931">1931</option>-->
                  <!--                                                <option value="1930">1930</option>-->
                  <!--                                                <option value="1929">1929</option>-->
                  <!--                                                <option value="1928">1928</option>-->
                  <!--                                                <option value="1927">1927</option>-->
                  <!--                                                <option value="1926">1926</option>-->
                  <!--                                                <option value="1925">1925</option>-->
                  <!--                                                <option value="1924">1924</option>-->
                  <!--                                                <option value="1923">1923</option>-->
                  <!--                                                <option value="1922">1922</option>-->
                  <!--                                                <option value="1921">1921</option>-->
                  <!--                                                <option value="1920">1920</option>-->
                  <!--                                                <option value="1919">1919</option>-->
                  <!--                                                <option value="1918">1918</option>-->
                  <!--                                                <option value="1917">1917</option>-->
                  <!--                                                <option value="1916">1916</option>-->
                  <!--                                                <option value="1915">1915</option>-->
                  <!--                                                <option value="1914">1914</option>-->
                  <!--                                                <option value="1913">1913</option>-->
                  <!--                                                <option value="1912">1912</option>-->
                  <!--                                                <option value="1911">1911</option>-->
                  <!--                                                <option value="1910">1910</option>-->
                  <!--                                                <option value="1909">1909</option>-->
                  <!--                                                <option value="1908">1908</option>-->
                  <!--                                                <option value="1907">1907</option>-->
                  <!--                                                <option value="1906">1906</option>-->
                  <!--                                                <option value="1905">1905</option>-->
                  <!--                                                <option value="1904">1904</option>-->
                  <!--                                                <option value="1903">1903</option>-->
                  <!--                                                <option value="1902">1902</option>-->
                  <!--                                                <option value="1901">1901</option>-->
                  <!--                                            </select>-->
                  <!--                                            </div><span class="MemberForm_txt__HN-I6">년</span>-->
                  <!--                                            <div class="commonSelect MemberForm_w90__66aGC"><select id="birthMonth">-->
                  <!--                                                <option value="">월</option>-->
                  <!--                                                <option value="1">1</option>-->
                  <!--                                                <option value="2">2</option>-->
                  <!--                                                <option value="3">3</option>-->
                  <!--                                                <option value="4">4</option>-->
                  <!--                                                <option value="5">5</option>-->
                  <!--                                                <option value="6">6</option>-->
                  <!--                                                <option value="7">7</option>-->
                  <!--                                                <option value="8">8</option>-->
                  <!--                                                <option value="9">9</option>-->
                  <!--                                                <option value="10">10</option>-->
                  <!--                                                <option value="11">11</option>-->
                  <!--                                                <option value="12">12</option>-->
                  <!--                                            </select></div><span class="MemberForm_txt__HN-I6">월</span>-->
                  <!--                                            <div class="commonSelect MemberForm_w90__66aGC"><select id="bitrhDate">-->
                  <!--                                                <option value="">일</option>-->
                  <!--                                                <option value="1">1</option>-->
                  <!--                                                <option value="2">2</option>-->
                  <!--                                                <option value="3">3</option>-->
                  <!--                                                <option value="4">4</option>-->
                  <!--                                                <option value="5">5</option>-->
                  <!--                                                <option value="6">6</option>-->
                  <!--                                                <option value="7">7</option>-->
                  <!--                                                <option value="8">8</option>-->
                  <!--                                                <option value="9">9</option>-->
                  <!--                                                <option value="10">10</option>-->
                  <!--                                                <option value="11">11</option>-->
                  <!--                                                <option value="12">12</option>-->
                  <!--                                                <option value="13">13</option>-->
                  <!--                                                <option value="14">14</option>-->
                  <!--                                                <option value="15">15</option>-->
                  <!--                                                <option value="16">16</option>-->
                  <!--                                                <option value="17">17</option>-->
                  <!--                                                <option value="18">18</option>-->
                  <!--                                                <option value="19">19</option>-->
                  <!--                                                <option value="20">20</option>-->
                  <!--                                                <option value="21">21</option>-->
                  <!--                                                <option value="22">22</option>-->
                  <!--                                                <option value="23">23</option>-->
                  <!--                                                <option value="24">24</option>-->
                  <!--                                                <option value="25">25</option>-->
                  <!--                                                <option value="26">26</option>-->
                  <!--                                                <option value="27">27</option>-->
                  <!--                                                <option value="28">28</option>-->
                  <!--                                                <option value="29">29</option>-->
                  <!--                                                <option value="30">30</option>-->
                  <!--                                            </select></div><span class="MemberForm_txt__HN-I6">일</span>-->
                  <!--                                            <div class="LfInput_lfInputRadio__R8RDO MemberForm_default__5JV0K"><input type="radio" id="radio01"-->
                  <!--                                                                                                                      class="LfInput_input__eAm0q" name="BIRTHSM" disabled="" value="S"><label-->
                  <!--                                                    for="radio01">양력</label></div>-->
                  <!--                                            <div class="LfInput_lfInputRadio__R8RDO MemberForm_default__5JV0K"><input type="radio" id="radio02"-->
                  <!--                                                                                                                      class="LfInput_input__eAm0q" name="BIRTHSM" disabled="" value="L"><label-->
                  <!--                                                    for="radio02">음력</label></div>-->
                  <!--                                        </div>-->
                  <!--                                    </td>-->
                  <!--                                </tr>-->
                  <!--                                <tr>-->
                  <!--                                    <th>주소(선택)</th>-->
                  <!--                                    <td>-->
                  <!--                                        <ul class="MemberForm_addList__J8z38">-->
                  <!--                                            <li><input name="homeZip" type="text" class="commonInputText MemberForm_w200__8w71Q" placeholder="-"-->
                  <!--                                                       readonly=""><button type="button"-->
                  <!--                                                                           class="LfButton_lfButton__djCj2 LfButton_sizePC2__VA7VH">우편번호 찾기</button></li>-->
                  <!--                                            <li><input name="homeFixAddress" type="text" class="commonInputText" readonly=""></li>-->
                  <!--                                            <li><input name="homeDetailAddress" type="text" class="commonInputText"></li>-->
                  <!--                                        </ul>-->
                  <!--                                    </td>-->
                  <!--                                </tr>-->
                  <!--                <tr>-->
                  <!--                  <th>마케팅정보 수신동의</th>-->
                  <!--                  <td>-->
                  <!--                    <p class="MemberForm_txtMarketing__VoRHH">"할인쿠폰, 마일리지, 세일, 이벤트 등의 유용한 마케팅정보를 알려드려요."</p>-->
                  <!--                    <ul class="MemberForm_pushList__KhqI-">-->
                  <!--                      <li>-->
                  <!--                        <div>-->
                  <!--                          <div class="LfInput_lfInputCheck__v0ZyE"><input type="checkbox"-->
                  <!--                                                                          id="telemarketingAgreementYn" class="LfInput_input__eAm0q"-->
                  <!--                                                                          name="telemarketingAgreementYn" value="N"><label-->
                  <!--                                  for="telemarketingAgreementYn">전화</label></div>-->
                  <!--                        </div>-->
                  <!--                      </li>-->
                  <!--                      <li>-->
                  <!--                        <div>-->
                  <!--                          <div class="LfInput_lfInputCheck__v0ZyE"><input type="checkbox" id="emailYn"-->
                  <!--                                                                          class="LfInput_input__eAm0q" name="emailYn" value="N"><label-->
                  <!--                                  for="emailYn">e-mail</label></div>-->
                  <!--                        </div>-->
                  <!--                      </li>-->
                  <!--                      <li>-->
                  <!--                        <div>-->
                  <!--                          <div class="LfInput_lfInputCheck__v0ZyE"><input type="checkbox" id="smsYn"-->
                  <!--                                                                          class="LfInput_input__eAm0q" name="smsYn" value="N"><label-->
                  <!--                                  for="smsYn">문자(SMS)</label></div>-->
                  <!--                        </div>-->
                  <!--                      </li>-->
                  <!--                      <li>-->
                  <!--                        <div>-->
                  <!--                          <div class="LfInput_lfInputCheck__v0ZyE"><input type="checkbox"-->
                  <!--                                                                          id="directMessageAgreementYn" class="LfInput_input__eAm0q"-->
                  <!--                                                                          name="directMessageAgreementYn" value="N"><label-->
                  <!--                                  for="directMessageAgreementYn">우편물</label></div>-->
                  <!--                        </div>-->
                  <!--                      </li>-->
                  <!--                      <li>-->
                  <!--                        <div>-->
                  <!--                          <div class="LfInput_lfInputCheck__v0ZyE"><input type="checkbox" id="appYn"-->
                  <!--                                                                          class="LfInput_input__eAm0q" name="appYn" value="N"><label for="appYn">앱 푸쉬</label>-->
                  <!--                          </div>-->
                  <!--                        </div>-->
                  <!--                      </li>-->
                  <!--                    </ul>-->
                  <!--                  </td>-->
                  <!--                </tr>-->
                  </tbody>
                </table>
              </div>
              <div class="MemberForm_btnArea__xwPFT">
                <button type="submit" class="LfButton_lfButton__djCj2 LfButton_sizePC3__Le7hc LfButton_fillRed__cxMET">회원정보 변경</button>
              </div>
            </form>
          </div>
          <!-- 선마일리지 안내 :: 팝업레이어 -->
          <!--                    <div class="layer_new" id="first_point1" style="display:none;top:240px;left:260px;width:390px;">-->
          <!--                        <h2>e기프트 마일리지 조회</h2>-->
          <!--                        <a class="close" href="javascript:closeLayer('first_point1')">-->
          <!--                            <img alt="닫기" src="//img.lfmall.co.kr/file/WAS/apps/2017/pfront/btn_close_20x20.png">-->
          <!--                        </a>-->
          <!--                        <div class="layer_cont">-->
          <!--                            <div class="ly_list">-->
          <!--                                <ul>-->
          <!--                                    <li>e기프트 마일리지는 유효기간 내 사용이 가능하며, LFmall 자사상품에만 적용 가능합니다. (오프라인 사용 불가)</li>-->
          <!--                                    <li>한 주문 당 하나 만 사용 가능하며, 이벤트에 따라 일부 상품은 제외될 수 있습니다.</li>-->
          <!--                                    <li>e기프트 마일리지는 최종 결제 금액의 50%까지만 사용 가능합니다.</li>-->
          <!--                                    <li>지급된 e기프트 마일리지보다 낮은 가격의 상품에는 사용할 수 없습니다.</li>-->
          <!--                                </ul>-->
          <!--                            </div>-->
          <!--                            <div class="ly_btn">-->
          <!--                                <a href="javascript:closeLayer('first_point1')">확인</a>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                    </div>-->
          <!--// 선마일리지 안내 -->

          <!-- LFML-71477 결제수단 관리 layer -->
          <div class="ly-common-wrap ly-common-wrap-lfpay" id="lfpayccc" style="display: none;">
            <div class="ly-common-container">
              <h3 class="ly-common-ttl" style="z-index:99999990;">
                <img src="//img.lfmall.co.kr/file/WAS/apps/2021/image/mweb/lfpay/logo-l-fpay-header%402x.png"
                     class="playlogo" alt="">
              </h3>
              <div class="ly-common-content" id="dynaContents">
                <iframe name="lfpayIframe"></iframe>
              </div>
              <div class="ly-close-x" style="z-index:99999990;">
                <button class="ui-btn-type-ico act-close-ly"
                        onclick="closeLfpayLayer();return false;"><span class="blind">닫기</span></button>
              </div>
            </div>
          </div>





          <form name="meberCheckForm" method="post">
            <input type="hidden" name="AFTERSELFCERT" id="AFTERSELFCERT" value="C">
            <input type="hidden" name="RETURN_URL" id="RETURN_URL" value="">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>